name: Deploy

on:
  push:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: read

jobs:
  build:
    name: Deploy
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: app

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Docker Login (DockerHub)
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Create docker image
        uses: docker/build-push-action@v6
        with:
          context: ./app
          push: true
          platforms: linux/amd64
          tags: sarveshacharya/particle41:${{ github.sha }}, sarveshacharya/particle41:latest
