name: Build

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: app

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Create docker image
        uses: docker/build-push-action@v6
        with:
          context: ./app
          push: false
          platforms: linux/amd64
          tags: ${{ github.sha }}
